@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-image: url("/img/background-main.jpg"); 
    background-position: center center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px auto;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 30px;
}

.box {
    width: auto;
    height: auto;
    background-color: lightgray;
    opacity: 90%;
    border-radius: 13px;
    padding: 0px 50px 0px 50px;
}

.countdowns_list {
    margin: 20px 0 0 0;
    width: 70vh;
    height: 50vh;
    background-color: #0f79c1;
    opacity: 90%;
    border-radius: 13px;
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
}

.brand_logo {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding-top: 5px;
}

.page_bridge {
    text-decoration: none;
    color: black;
}

.countdown_page{
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    justify-content: center;
    color: #000;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    cursor: pointer;
    outline: none;
    }
  
  .countdown_page:hover {
    background-color: #feac13;
    box-shadow: 0px 15px 20px rgba(21, 105, 161, 0.4);
    color: #fff;
  }

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.btn {
    width: auto;
    height: auto;
    padding: 5px 20px 5px 20px;
    font-size: 25px;
    background-color: lightgray;
    border-radius: 8px;
    border: white;
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.btn {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .btn:hover {
    background-color: #feac13;
    box-shadow: 0px 15px 20px rgba(21, 105, 161, 0.4);
    color: #fff;
    transform: translateY(-4px);
  }