@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
/*  background-image: url("/img/apple-time_flies.jpg");
    background-size: cover; */
    display: flex;
    flex-direction: column;
    margin: 20px auto auto auto;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 20px;
}

.brand_logo {
    width: 70px;
    height: 70px;
}

.video {
    width: 80vh;
    height: 55vh;
    border-radius: 10px;
}

.event_video {
    align-items: center;
    margin: 10px 0;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.btn {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #528fd0;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .btn:hover {
    background-color: #284d99;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-4px);
  }

/*

.link {
    color: grey;
    text-decoration: none;
}

.link2 {
    color: red;
    text-decoration: none;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

*/